doctype html
html(lang='en')
    head
        title Green Straw
        link(rel='stylesheet' href='res/main.css')
    body
        h1 Green Straw
        div
            p
                strong Success! You have done everything right!
